
@{
    Layout = "_Layout";
}
@model List<CurrentResult>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CurrentResult</title>
</head>
<body>
    @using (Html.BeginForm("PutValues", "Calculation", HttpMethod.Get))
    {
        <div class="w-50 container-fluid justify-content-center align-items-center p-0">
        <div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Вид услуги</th>
                        <th>Объем услуг</th>
                        <th>Норматив</th>
                        <th>Тариф</th>
                        <th>Стоимость</th>
                    </tr>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td>@m.ServiceTypeName</td>
                            <td>@m.VolumeOfServices @m.Units</td>
                            <td>@m.Normative @m.Units</td>
                            <td>@m.Rate</td>
                            <td>@m.Cost</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
                    <p><input type="submit" value="Продолжить" class="btn-primary"></p>
        </div>
    </div>
    }
</body>
</html>
