
@{
    Layout = "_Layout";
}

@model RequestData
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport"  />

</head>
<body>
    <div >
    @using (Html.BeginForm("CurrentResult", "Calculation", HttpMethod.Post))
    {
            <div class="w-50 container-fluid justify-content-center align-items-center p-0">
            <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Парметр</th>
                    <th>Значение</th>
                </tr>
                    <tr>
                        <th>Количество <br> проживающих</th>
                        <th>
                            @Html.TextBoxFor(p => p.ResidentsCount, new { @class = "form-control" })
                            <span asp-validation-for="ResidentsCount" class="text-danger" />
                    </th></tr>
                    <tr><th>ХВС</th><th>@Html.TextBoxFor(p => p.ColdWaterMeterValues, new { @class = "form-control" })
                                <span asp-validation-for="ColdWaterMeterValues" class="text-danger" />
                    </th></tr>
                    <tr><th>ГВС</th><th>@Html.TextBoxFor(p => p.HotWaterMeterValue, new { @class = "form-control" })
                                <span asp-validation-for="HotWaterMeterValue" class="text-danger" />
                        </th>
                    </tr>
                        <tr><th>ЭЭ</th><th>@Html.TextBoxFor(p => p.ElectroEnergyCommonMeterValue, new { @class = "form-control" })
                                    <span asp-validation-for="ElectroEnergyCommonMeterValue" class="text-danger" />
                            </th>
                        </tr>
                        <tr><th>ЭЭ День</th><th>@Html.TextBoxFor(p => p.ElectroEnergyDayMeterValue, new { @class = "form-control" })
                                    <span asp-validation-for="ElectroEnergyDayMeterValue" class="text-danger" />
                            </th>
                        </tr>
                        
                        <tr><th>ЭЭ Ночь</th><th>@Html.TextBoxFor(p => p.ElectroEnergyNightMeterValue, new { @class = "form-control" })
                                    <span asp-validation-for="ElectroEnergyNightMeterValue" class="text-danger" />
                            </th>
                        </tr>
            </tbody>
        </table>
            <p><input type="submit" value="Рассчитать" class="btn-primary"></p>
        </div>
    }
    </div>
</body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
</html>

