
@{
    Layout = "_Layout";
}

@model RequestData

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @using (Html.BeginForm("CurrentResult", "Calculate", HttpMethod.Post))
    {
        @Html.TextBoxFor(p => p.ResidentsCount, new { @class = "form-control" })
        @Html.TextBoxFor(p => p.ColdWaterMeterValues, new { @class = "form-control" })
        @Html.TextBoxFor(p => p.HotWaterMeterValue, new { @class = "form-control" })
        @Html.TextBoxFor(p => p.ElectroEnergyCommonMeterValue, new { @class = "form-control" })
        @Html.TextBoxFor(p => p.ElectroEnergyDayMeterValue, new { @class = "form-control" })
        @Html.TextBoxFor(p => p.ElectroEnergyNightMeterValue, new { @class = "form-control" })
        <p><input type="submit" value="Отправить" /></p>
    }
    
</body>
</html>
